:root {
--primary: rgb(61, 60, 59);
--bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background: url(img/04.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.hero h1 {
    font-size: 36px;
    text-align: center;
}

.hero .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.hero .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.hero .btn {
width: 100%;
height: 45px;
background: #fff;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
cursor: pointer;
font-size: 16px;
color: #333;
font-weight: 700;
}

.hero .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
text-decoration: underline;
}
/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 6%;
    background-color: transparent;
    /* border-bottom: 1px solid #513c38; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}    

.navbar .navbar-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-exstra a{
    color: #fff;
    margin: 0 0.5rem;
    background: transparent;
}

.navbar .navbar-exstra a:hover {
    color: var(--primary);
}

.navbar .navbar-download {
    color: #fff;
    margin: 0 0.5rem;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 10px 15px 10px 10px;
    display: flex;
    transform: scaleX(1);
}

.navbar .navbar-download:hover {
    color: var(--primary);
}

#menu {
    display: none;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px){
    html {
        font-size: 90%;
    }
}
/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 70%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #010101;
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2);
    }
}
/* Mobile phone */
@media (max-width: 450px){
    html {
        font-size: 65%;
    }
}